<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ZF Admin template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="css/zf.admin.css">
        <link rel="stylesheet" href="css/example.css">
    </head>

    <body data-whatinput="mouse">

        <div id="off-canvas" class="off-canvas position-left" data-transition="overlap" data-off-canvas>
        </div>

        <div id="off-canvas-content" class="off-canvas-content" data-off-canvas-content>

            <div id="top-bar"></div>

            <div id="content-container" class="row expanded">
                <div id="sidebar" class="medium-4 large-2 columns show-for-medium" data-sticky-container>
                </div>

                <div id="main" class="medium-8 large-10 columns">
                    <h1>ZF-Admin</h1>
                      <!-- content start //-->
                      <!-- content end //-->
                </div>
            </div>

            <div id="footer"></div>
        </div>

        <script src="js/zf.admin.js"></script>
        <script src="js/example.js"></script>

    </body>

</html>
