<div class="row">
    <div class="small-12 columns">
        <p>
            <h3>Close menu</h3>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
        </p>
    </div>
</div>

<ul id="main-menu" class="menu vertical" data-accordion-menu>
    <li>
        <a href="#">Dashboard examples</a>
        <ul class="menu vertical nested">
            <li><a href="dash1.html">Dash 1</a></li>
            <li><a href="dash2.html">Dash 2</a></li>
            <li><a href="dash3.html">Dash 3</a></li>

        </ul>
    </li>
    <li>
        <a href="#">Plugins and utilities</a>
        <ul class="menu vertical nested">
            <li><a href="plugins.html">Plugins</a></li>
        </ul>
    </li>
</ul>

<ul class="menu vertical">
    <li><a href="assets.html">Assets</a></li>
</ul>

<ul class="menu vertical">
    <li>
        <a href="build.html">Building assets using Gulp</a>
    </li>
</ul>
