<div id="sidebar-menu" class="sticky" data-sticky data-anchor="content-container">

    <h4>Usage and examples</h4>
    <ul class="menu vertical" data-accordion-menu>
        <li>
            <a href="#">Dashboard examples</a>
            <ul class="menu vertical nested">
                <li><a href="dash1.html">Dash 1</a></li>
                <li><a href="dash2.html">Dash 2</a></li>
                <li><a href="dash3.html">Dash 3</a></li>

            </ul>
        </li>
        <li>
            <a href="#">Plugins and utilities</a>
            <ul class="menu vertical nested">
                <li><a href="plugins.html">Plugins</a></li>
            </ul>
        </li>
    </ul>

    <h4>Assets</h4>
    <ul class="menu vertical">
        <li><a href="assets.html">Assets</a></li>
    </ul>

    <h4>Build system</h4>
    <ul class="menu vertical">
        <li><a href="build.html">Building assets using Gulp</a></li>
    </ul>
</div>
