<div class="top-bar" id="top-bar-menu">

    <div id="top-bar-title">
        <a href="/"><strong>ZF Admin</strong></a>

        <!-- Mobile Menu -->
        <div class="show-for-small-only">
            <ul class="menu">
                <li>
                    <button class="menu-icon dark" type="button" data-toggle="off-canvas"></button>
                </li>
                <li>
                    <a data-toggle="off-canvas" aria-expanded="false" aria-controls="off-canvas">Menu</a>
                </li>
            </ul>
        </div>
        <!-- Mobile Menu -->
    </div>

    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">Example link One</a></li>
            <li><a href="#">Example link Two</a></li>
        </ul>
    </div>

    <div class="top-bar-right show-for-medium">

        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <i class="icon-mail"></i>
                <span class="badge secondary">1</span> &nbsp;
                <i class="icon-message"></i>
                <span class="badge secondary">2</span> &nbsp;
                <i class="icon-calendar"></i>
                <span class="badge alert">25</span> &nbsp;

            </li>
            <li>
                <a href="#">Account</a>
                <ul class="menu vertical">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
